section.content-header
  h1 Dashboard

section.content
  .row
    .col-lg-3.col-xs-6
      .small-box.bg-green
        .inner
          h3 {{users.total}}
          p User Registrations
        .icon
          .fa.fa-user
        a.small-box-footer(href="#users")
          | More info <i class="fa fa-arrow-circle-right">
